      .header {
          display: flex;
          align-items: center;
          justify-content: space-between;
      }

      .header__search-form {
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .header__search-form-field {
          width: 360px;
          height: 36px;
          border: 1px solid #000;
      }

      .header__search-form-button {
          width: 70px;
          height: 36px;
          border: 1px solid #2f00ff;
      }

      .header__search-form-image {
          width: 70px;
          height: 36px;
      }