body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: Raleway;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

.header__title {
  font-size: 25px;
  font-weight: 600;
}

.header__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-form {
  width: 260px;
  height: 36px;
  border: 1px solid #d1d1d1;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  /* em */
  /* rem */
  text-align: left;
  padding-left: 10px;
}

@media (max-width: 480px) {
  .input-form {
    width: 160px;
  }
}

.button-image {
  width: 70px;
  height: 36px;
  /* border: 1px solid rgb(0, 38, 255); */
}

.content {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1440px) {
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.content__column {
  flex-wrap: initial;
  width: 260px;
  height: min-content;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

/* @media (max-width: 1440px) {
  .content__column {
    flex-wrap: initial;
    width: 100%;
    height: min-content;
  }
} */

@media (max-width: 600px) {
  .content__column {
    width: 100%;
  }
}

.content__column--new {
  border-top: 4px solid #36b1f6;
}

.content__column--in-action {
  border-top: 4px solid #0315be;
}

.content__column--emergency {
  border-top: 4px solid #e30909;
}

.content__column--waiting {
  border-top: 4px solid #e2a60c;
}

.content__column--closed {
  border-top: 4px solid #05b417;
}

.container-header {
  margin-left: 15px;
  margin-top: 12px;
}

.container-header__title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.container-header__form {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.container-window {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 9px;
}

.container-window__title {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 9px;
  color: #1844b6;
}

.container-window__form {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 9px;
  color: #8c8b8d;
}

.container-window__date {
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  color: #151515;
}
