body {
  font-family: Raleway, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.header__title {
  font-size: 25px;
  font-weight: 600;
  text-align: left;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px;
  height: 36px;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

.search-input {
  margin: 10px;
}

.search-form__button {
  width: 70px;
  height: 36px;
  border: 1px solid #2f00ff;
}

.button-image {
  width: 70px;
  height: 36px;
}

.containers {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

.containers__frame {
  margin-bottom: 20px;
}

.containers__empty--new {
  width: 260px;
  height: auto;
  border-top: 4px solid #36b1f6;
  background-color: #f2f2f2;
}

.containers__empty--in-action {
  width: 260px;
  height: auto;
  border-top: 4px solid #0315be;
  background-color: #f2f2f2;
}

.containers__empty--emergency {
  width: 260px;
  height: auto;
  border-top: 4px solid #e30909;
  background-color: #f2f2f2;
}

.containers__empty--waiting {
  width: 260px;
  height: auto;
  border-top: 4px solid #e2a60c;
  background-color: #f2f2f2;
}

.containers__empty--closed {
  width: 260px;
  height: auto;
  border-top: 4px solid #05b417;
  background-color: #f2f2f2;
}

.container-header {
  margin-left: 15px;
  margin-top: 12px;
}

.container-header__title {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.container-header__form {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.container-window {
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  padding: 9px;
}

.container-window__title {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 9px;
  color: #1844b6;
}

.container-window__form {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 9px;
  color: #8c8b8d;
}

.container-window__date {
  font-size: 13px;
  font-weight: 700;
  text-align: left;
  color: #151515;
}
